In [1]:
import pandas as pd

In [5]:
dataset = pd.read_csv("../Data/dataset.csv")

In [6]:
dataset.head()

   Unnamed: 0   Lab  IA400
0           1  36.3   35.1
1           2  33.2   35.9
2           3  39.0   40.1
3           4  37.3   35.5
4           5  40.7   37.9